html, body {
    // background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
	padding:0;
	overflow:auto;
    overflow-x:hidden;
}
img{
	max-width:100%;
}
.backgroundImage{
	background-image: linear-gradient($body-bg,lightblue);
	-webkit-clip-path: polygon(50% 15%, 100% 33%, 100% 100%, 50% 100%, 0 100%, 0 33%);
	clip-path: polygon(50% 15%, 100% 33%, 100% 100%, 50% 100%, 0 100%, 0 33%);
	position: center;
	background-attachment: relative;
	height:100%;
	z-index: -2;
}
.backgroundImage2{
	background-color: lightblue;
	// height: 100%;
}
.backgroundImage3{
	background-image: linear-gradient(lightblue,$body-bg);

}
.backgroundImage4{
	background-image: linear-gradient($body-bg,lightblue);

}
.fire a{
	font-size: 4rem;
}
.upsideDownTriangle{
	background-color: lightblue;
	-webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
	clip-path: polygon(50% 100%, 0 0, 100% 0);
	width: 100%;
	height: 100%;
	z-index: -2;
}
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.flex-center-right{
    display: flex;
    align-items: flex-end;
}
.flex-center-left{
    display: flex;
    align-items: flex-start;
}
.flex{
    flex-direction: column;
}
.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}
.content2{
    height:100%;
}
.content4{
	flex-direction: column;
}
.content5{
	z-index:-1;
}

.title {
    font-size: 84px;
}
.links{
    // width:var(--breakpoint-lg);
    justify-content:space-between;
}
.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-weight: 600;
    letter-spacing: .1rem;
    justify-content:space-between;
    text-decoration: none;
    text-transform: uppercase;
    transition: 500ms;
}
.links > a:hover,.links2 > a:hover {
    color: orange;
    transition: 500ms;
    transform:translateZ(20deg);
}

.links2 > a{
    color: #636b6f;
    padding: 2.5px;
    font-size: 13px;
    font-weight: 600;
    justify-content: flex-end;
    letter-spacing: .01rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 500ms;
}
.m-b-md {
    margin-bottom: 30px;
}

.skillsBackEnd{
    flex-direction:column;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.specialSig{
	margin-bottom:-3.5rem;
	font-family: 'Parisienne', cursive;
	font-size: 7rem;
}
// -------------------------------------------------
.divC {
		width: 500px;
		margin: 50px auto;
		height:100%;
		text-align: center;
	}

	.containerC {
		width: 500px;
		height: 300px;
		text-align: left;
		margin: 60px auto;
		perspective: 1000px;
		perspective-origin: 50% -25%;
	}

		.carouselC {
			transform-style: preserve-3d;
			transform: translateZ(-540px);
			position: relative;
			margin: 0;
			width: 500px;
			height: 300px;
			transition: 1s;
		}

			.carouselC img {
				position: absolute;
				border: 5px solid rgba(0, 0, 0, .8);
				opacity: .5;
		transition: 1s;
        width: 500px;
        height: 300px;
        background:#ccc;
			}

				
				.carouselC img:nth-child(1) { transform: translateZ(540px) scale(.8); }
				.carouselC img:nth-child(2) { transform: rotateY(45deg) translateZ(540px) scale(.8); }
				.carouselC img:nth-child(3) { transform: rotateY(90deg) translateZ(540px) scale(.8); }
				.carouselC img:nth-child(4) { transform: rotateY(135deg) translateZ(540px) scale(.8); }
				.carouselC img:nth-child(5) { transform: rotateY(180deg) translateZ(540px) scale(.8); }
				.carouselC img:nth-child(6) { transform: rotateY(225deg) translateZ(540px) scale(.8); }
				.carouselC img:nth-child(7) { transform: rotateY(270deg) translateZ(540px) scale(.8); }
				.carouselC img:nth-child(8) { transform: rotateY(315deg) translateZ(540px) scale(.8); }

	.labelC {
		cursor: pointer;
		background: #eee;
		display: inline-block;
		border-radius: 50%;
		width: 30px;
		padding-top: 7px;
		height: 23px;
		font: .9em Arial;
	}

	.labelC:hover {
		background: #ddd;
	}

	.inputC {
		position: absolute;
		left: -9999px;
	}

	.inputC:checked + .labelC {
		font-weight: bold;
		background: #ddd;
	}

		.inputC[value="1"]:checked ~ .containerC .carouselC { transform: translateZ(-840px) translatex(-600px); }
		.inputC[value="2"]:checked ~ .containerC .carouselC { transform: translateZ(-840px) rotateY(-45deg) translatex(-600px); }
		.inputC[value="3"]:checked ~ .containerC .carouselC { transform: translateZ(-840px) rotateY(-90deg) translatex(-600px); }
		.inputC[value="4"]:checked ~ .containerC .carouselC { transform: translateZ(-840px) rotateY(-135deg) translatex(-600px); }
		.inputC[value="5"]:checked ~ .containerC .carouselC { transform: translateZ(-840px) rotateY(-180deg) translatex(-600px); }
		.inputC[value="6"]:checked ~ .containerC .carouselC { transform: translateZ(-840px) rotateY(-225deg) translatex(-600px); }
		.inputC[value="7"]:checked ~ .containerC .carouselC { transform: translateZ(-840px) rotateY(-270deg) translatex(-600px); }
		.inputC[value="8"]:checked ~ .containerC .carouselC { transform: translateZ(-840px) rotateY(-315deg) translatex(-500px); }

		.inputC[value="1"]:checked ~ .containerC .carouselC img:nth-child(1) { transform: translateZ(540px) scale(1); opacity: 1; }
		.inputC[value="2"]:checked ~ .containerC .carouselC img:nth-child(2) { transform: rotateY(45deg) translateZ(540px) scale(1); opacity: 1; }
		.inputC[value="3"]:checked ~ .containerC .carouselC img:nth-child(3) { transform: rotateY(90deg) translateZ(540px) scale(1); opacity: 1; }
		.inputC[value="4"]:checked ~ .containerC .carouselC img:nth-child(4) { transform: rotateY(135deg) translateZ(540px) scale(1); opacity: 1; }
		.inputC[value="5"]:checked ~ .containerC .carouselC img:nth-child(5) { transform: rotateY(180deg) translateZ(540px) scale(1); opacity: 1; }
		.inputC[value="6"]:checked ~ .containerC .carouselC img:nth-child(6) { transform: rotateY(225deg) translateZ(540px) scale(1); opacity: 1; }
		.inputC[value="7"]:checked ~ .containerC .carouselC img:nth-child(7) { transform: rotateY(270deg) translateZ(540px) scale(1); opacity: 1; }
		.inputC[value="8"]:checked ~ .containerC .carouselC img:nth-child(8) { transform: rotateY(315deg) translateZ(540px) scale(1); opacity: 1; }

		.footerCustom{
			background:$body-bg;
			position:relative;
			border-top: solid black;
			box-shadow: 5px 5px 2.5px;
			height:2em;
			margin-top:-2em;
			clear:both;
			font-size: .5em;
		}